<h3><i class="fas fa-book-reader"></i> Odyssey Chronicles</h3>
<div class="section">
    <p class="lead">A platform for sharing and discovering captivating travel stories from around the globe.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In with Google
    </a>
</div>